<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <title>Currency Convertor</title>
    <div class="container">
        <div class="bg-warning" style="text-align: center;font-family: Arial"><h1>Currency Convertor</h1></div>
        </div>

</head>
<body ng-app=convert>
<br>
<h2 align="center"><font color="white">Enter the usd amount in the below field and click the button for currency conversion.</font></h2>
<div ng-controller=convertctrl>
    <form>
    <div class="form-group"> <label for="usd"></label>
        <input type="number" class="form-control"placeholder="Enter currency in usd" id="usd" ng-model="usd">
    </div>

<br><br>
    </form>
<div class="centered">
    <button class="btn btn-success" ng-click="bmi()">Convert</button>
</div>
    <div class="container">
    <p ng-model=con>
        <br>

        <div class="bg-warning" >INR Value:&nbsp&nbsp{{cal.EUR}} </div><br>
        <div class="bg-warning">EUR Value:&nbsp&nbsp{{cal.KWD}} </div><br>
        <div class="bg-warning">KWD Value:&nbsp&nbsp{{cal.INR}}</div><br>

    </p>
        </div>
</div>
</body>
</html>