form{
    padding-left:20%;
    padding-right: 20%;
    padding-top: 2%;
    color: #761c19;
    font-size: medium;
    font-family: "Comic Sans MS";


}
body{
    background: url(3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn{
    width: 25%;
    height: 25%;

}
.centered
{
    text-align: center;
}
.container{
    padding-left:10%;
    padding-right:10%;
    padding-top: 3%;
    font-size: large;
    font-family: "Comic Sans MS";
}